style css
body {
    padding: 0;
    margin: 0;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
}

/*
Please add/edit styles below this comment
Get color codes here: https://flatuicolors.com/palette/defo
*/

#header {
    background-color:aqua;
        
}